extends ../layout/index2
block contenido
    div 
        .row.justify-content-center
            .col-md-6
                h1.my-5 Detalle del Producto
            .col-md-8
                form(action='/producto/' + producto.id, method="POST")
                    form-group
                        label(for="titulo") Titulo
                        input(id="titulo", class="form-control", type="text", placeholder="Titulo", name="titulo", value=producto.titulo, disabled)  
                    form-group
                        label(for="descripcion") Descripcion
                        textarea(id="descripcion", class="form-control", rows="3" , name="descripcion", disabled) #{producto.descripcion}
                    form-group
                        label(for="precio") Categoria
                        select(class="browser-default custom-select" name="categoria", disabled)
                            option Seleccione una Categoria
                            each categoria in categorias
                                if categoria.id == producto.categoria
                                    option(value=categoria.id  selected) #{categoria.nombre}
                                else
                                    option(value=categoria.id) #{categoria.nombre}
                    form-group
                        label(for="precio") Precio
                        input(id="precio", class="form-control", type="number", placeholder="Precio", name="precio", value=producto.precio, disabled)
                    form-group
                        label(for="precio_oferta") Precio de Oferta
                        input(id="precio_oferta", class="form-control", type="number", placeholder="Precio de Oferta", name="precio_oferta", value=producto.precio_oferta, disabled)
                    form-group
                        label(for="imagen") Imagen
                        input(id="imagen", class="form-control", type="file", name="imagen", disabled)
                    .row
                        .col-md-11
                            .d-flex.justify-content-between
                                a(href="/" class="btn btn-primary" data-id= producto.id) Volver
                                a(id="editar" class="btn btn-primary" onclick="habilitarEdicion()" data-id=producto.id) Editar
                                button(id="guardar" class="btn btn-success" data-id= producto.id, hidden) Guardar